*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;  
}
header{
    width: 100%;
    height: 126px;
    background-color: #0e0f38;
    border-bottom: 3px solid white; 
}
a{
    text-decoration: none;
}
.logo{
    display: inline-block;
    padding-left: 10%;
}
.contact{
    float: right;
    color: #fff;
    padding: 27px 153px 0px 0px; 
   
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
}
.colortext{
    color: #ffb423;
}
.main{
    position: relative;
    width: 100%;
    height: 801px;
    background: url('https://kabanecroman.github.io/invest.github.io/img/bg.png') no-repeat center;
    background-size: cover; 
    background-attachment: fixed; 
    margin-bottom: 40px;   
}
.main__text{
    position: relative;
    z-index: 1;
    color: #fff;
    padding-top: 200px;
    padding-left: 10%;
}
.main__text h1{
    font-family: 'Proxima Nova', sans-serif; 
    font-weight: bold;
    font-size: 58px;
    line-height: 76px;
}
.main__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 37px;
    padding-top: 16px;
}

.btn{
    font-family: 'Proxima Nova', sans-serif; 
    width: 309px;
    background-color: #FFB423;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px ;
    border: none;
    cursor: pointer;
    line-height: 90px;
}
.why_me__wrapper{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
}
.why_me{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px; 

}
.why_me__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 351px;
	width: 25vw; 
	position: relative;
    margin-bottom: 47px;
    border: 2px solid #CFCFCF;
    text-align: center;
}
.why_me__item img  {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.item__p__title{
    font-family: 'Proxima Nova', sans-serif; 
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    padding-top: 34px;
}
.item__p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #989898;
}
.title{
    width: 32vw;
    background:white;
    z-index: 1;
    margin-top: -121px;
    height: 10em;
    position: relative
}
.title h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 76px;
 }
 .progress__wrapper{
    padding-top: 40px; 
    height: 800px;
    padding-left: 10%;
    background: url('https://kabanecroman.github.io/invest.github.io/img/bg2.png') no-repeat center;
    background-size: cover; 
    background-attachment: fixed;   
}
.rectangle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    /* width: 896px; 
    size ???*/
    width: 70vw; 
    height: 35px;
    background-color: #fff;
    /* margin-top: 393px;*/
    margin-top: 20vh; 
    margin-left: 20px;
}
.circle{
    height: 96px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: -20px;
}
.circle__p__title {
    font-family: 'Proxima Nova', sans-serif; 
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #fff;
}
.circle__p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #E5E5E5;
    padding-top: 47px;
}
.reviews__wrapper{
    padding-top: 40px; 
    padding-left: 10%;
    padding-right: 10%;
  
}
.reviews__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    width: 79.1vw; 
    height: 263px;
    border: 3px solid #CFCFCF;
    margin-bottom: 40px;
   
}
.line{
    padding: 0 15px;
    -ms-flex-item-align:center;
        -ms-grid-row-align:center;
        align-self:center;
    height: 181px;
    border-right: 5px solid #3B4EC8;
}
.name__span{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    color: #000000;
}
.item{
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #787878;
    padding: 15px 106px 15px 30px ;
}
.form__wrapper{
    /* padding-top: 40px;  */
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    height: 800px;
    padding-left: 10%;

    background: url('https://kabanecroman.github.io/invest.github.io/img/bg3.png') no-repeat center;
    background-size: cover; 
    background-attachment: fixed; 
}
.form__wrapper h2 {
    font-family: 'Proxima Nova', sans-serif; 
    padding-top: 75px;
    padding-bottom: 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 76px;
    color:#fff ;
}
.form__wrapper p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #fff;
}
.footer{
    width: 100%;
    height: 110px;
    background-color: #0e0f38;
    border-top: 3px solid white; 

}
.copyright{
    font-family: 'Proxima Nova', sans-serif; 
    position: absolute;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 90px;
    color: #fff;

}
.arrow{
    display: none;
}

.slider {
    position: relative;
    overflow: hidden;
  }

  .slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    -o-transition: transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  }

  .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    outline: 3px solid #CFCFCF; /* Пунктирная рамка */
    outline-offset: -10px;
    /* margin: 10px;
    width: 90%; 
    height: 100%; */
  }
  .slider__item img{
      margin-top: 10px;
  }
  
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 35%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    color: #000000;
    font-size: 45px;
    font-weight: 100;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.form{
    background-color: #fff;
    width: 38.5vw;
    height: 494px;
    /* margin-top: 320px ;
    margin-right: 620px; */
    margin-left: 50%;
    margin-top: -10%;
}
form{
    text-align: center;
    padding-top: 90px;
}
input{
    width: 360px;
height: 77px;
background: #FFFFFF;
border: 3px solid #CFCFCF;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
margin-bottom: 60px;
padding-left: 20px;
text-decoration: none;
}
input[placeholder] {
    color: #989898;
    font-size: 30px;
    line-height: 90px;
    }
input[type="text"]::-webkit-input-placeholder {
    color: #989898;
 } 
   input[type="text"]::-moz-placeholder {
    color: #989898;
}
.form .btn{
    margin: 0;
    padding: 0;
}

.slider .slider__item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
} 
.slider{
    display: none;}
    .why_me__wrapper__mobile{
        display: none;
    }
@media only screen and (min-width : 320px) and (max-width : 768px) {
    .why_me__wrapper__mobile{
        display: block;
    }
    .slider{
        display: block;}
    .header{
        height: 115px; 
    }
    .logo{
        width: 100px;
        height: 53px;
        padding-left: 10px;
    }
    .contact{
        padding-top: 8%;
        padding-left: 8%;
        padding-right: 8%;
        font-style: normal;
        font-size: 15px;
        line-height: 28px;
    }
    /*  */
    .main__text{
      padding: 32px 55px 0 10px;
    }
    .main__text h1{
        font-size: 35px;
        line-height: 42px;
    }
    .main__text p {
        font-size: 20px;
        line-height: 28px;
        padding-top: 16px;
    }
    .main .btn{
      
        width: 226px;
        height: 64px;
        font-size: 20px;
        line-height: 1px;
        margin-top: 50px ;
    }
    .main{
        width: 100%;
        height: 550px;
        margin-bottom: 0;
       
    }
    .title{
        margin-top: 0px;
        margin-left: 10px;
        width: 210px;
        height: 90px;
    }
    .title h2 {
        font-size: 35px;
        line-height: 76px;
     }
     .why_me__wrapper{
         padding: 0;
     }
    .item__p__title{
        padding-bottom: 37px;
    }
    /* .progress__wrapper{
        margin: 0;
        padding: 0;
    } */

    .why_me{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .why_me__item{
        width: 90%;
       
    }
    .why_me .title h2{
        top: 0;
    }
    .progress__wrapper{
        /* margin: 0; */
        padding: 0;
    }
    .progress__wrapper .title{
        background: none;
        color: white;
        margin: 0;
    }
   .progress__wrapper{
       height: 1100px;
   }
    .rectangle{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 0;
        height: 850px;
        width: 24.42px;
        margin-left: 15%;
    }
    .circle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin-left: -150%;
        margin-top: -10%;
    }
    .circle__p__title{
        font-size: 25px;
        margin-top: 11%;
        margin-left: 20px;
    }
    .circle__p{
        width: 230px;
        margin-left: 20px;
    }
   .wrap__mob{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

   } 
   .slider{
    padding: 0;
   }
    .slider h2{
        left: 33%;
    }
    .line{
        display: none;
    }
    .item{
    padding: 25px;
    }
    .name__span{
        display: none;
    }
    .copyright{
        padding-top: 10px;
        font-size: 20px;
    }
    .form__wrapper {
        padding: 0 0 0 10px;
        height: 800px;
    }

    .form__wrapper h2{
        font-size: 35px;
        line-height: 76px;
        padding: 0;
        width: 350px;
    }
    .footer{
        height: 130px;
    }
    .reviews__wrapper{
        display: none;
    }
   .slider__wrapper{
    height: 750px;
   }
   .form{
     margin-top: 25px;
     width: 100%;
     margin-left: -5px;
     
   }
   form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   }
   .arrow {
    display: block;
    margin-top: 20px;
    margin-left: 50%;
}
    .HHH{
    display: none;
    width: 90%;
    
}
.HHH .why_me__item{
    width: 100%;
}
.why_me__wrapper{
    display: none;
}
.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #337AB7;
    border-right: 5px solid #337AB7;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: -16px;
    -webkit-animation: arrow-7 2s infinite;
            animation: arrow-7 2s infinite;
}
.arrow_p{
    font-size: 30px;

    line-height: 20px;
    padding-top:25px;
}
.arrow span:nth-child(2){
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
}
@-webkit-keyframes arrow-7 {
    0%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(-20px,-20px);
                transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(20px,20px);
                transform: rotate(45deg) translate(20px,20px);
    }
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(-20px,-20px);
                transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(20px,20px);
                transform: rotate(45deg) translate(20px,20px);
    }
}

}
@media only screen and (min-width : 769px) and (max-width: 1023px)  {
    .slider{
        display: none;
    }
    .contact{
         padding: 27px 61px 0px 0px;
    }
    .title{
        width: 25vw;
        margin-top: -83px;
        height: 5em;
    }
    .title h2{
         font-size: 30px;
    }
    .item__p__title{
        font-size: 25px;
    }
    .item__p{
        font-size: 16px;
    }
    .why_me__item{
        height: 285px;
    }

    .progress__wrapper{
        height: 1100px;
    }
     .rectangle{
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-flow: column;
                 flex-flow: column;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         margin-top: 0;
         height: 850px;
         width: 24.42px;
         margin-left: 15%;
         margin-top: 40px;
     }
     .circle {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -ms-flex-item-align: start;
             align-self: flex-start;
         margin-left: -150%;
         margin-top: -10%;
     }
     .circle__p__title{
         font-size: 25px;
         margin-top: 11%;
         margin-left: 20px;
     }
     .circle__p{
         width: 230px;
         margin-left: 20px;
     }
    .wrap__mob{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
 
    } 
    .item{
        font-size: 14px;
    line-height: 24px;
    color:#787878;
    padding: 15px 0px 15px 30px;
    line-height: 22px;
    }
    .name__span{
        font-size: 20px;
    }
    .reviews__item{
        height: 323px;
    }
    .line{
        height: 230px;
    }
    .form{
    width: 100%;
    height: 494px;
    margin-left: 0;
    margin-top: 20px;
  
    }
    .form__wrapper h2 {
        padding-top: 42px;
        padding-bottom: 23px;
        font-size: 52px;
        line-height: 65px;
        
    }
}
@media only screen and (min-width : 1024px) and (max-width : 1279px){
    .slider{
        display: none;
    }
    .title h2{
        font-size: 52px;
    }
    .circle__p__title{
        font-size: 22px;
    }
    .circle__p{
        font-size: 20px;
        padding-top: 16px;
    }
    .rectangle{
        margin-top: 250px;
    }
    .line{
        height: 230px;
    }
    .item{
    font-size: 18px;
    line-height: 28px;
    color:#787878;
    padding: 15px 0px 15px 30px;
    line-height: 22px;
    }
    .form{
        margin-top: 0;
    }
}
@media only screen and (min-width : 1599px) {
.slider{
    display: none;
}
.rectangle{
    margin-top: 20vh; 

}
.form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 27.5vw;
}

}