*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;  
}
header{
    width: 100%;
    height: 126px;
    background-color: #0e0f38;
    border-bottom: 3px solid white; 
}
.logo{
    display: inline-block;
    padding-left: 10%;
}
.contact{
    float: right;
    color: #fff;
    padding: 27px 153px 0px 0px; 
   
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
}
.colortext{
    color: #ffb423;
}
.main{
    position: relative;
    width: 100%;
    height: 801px;
    background: url('https://kabanecroman.github.io/invest.github.io/img/bg.png') no-repeat center;
    background-size: cover; 
    background-attachment: fixed; 
    margin-bottom: 40px;   
}
.main__text{
    position: relative;
    z-index: 1;
    color: #fff;
    padding-top: 200px;
    padding-left: 10%;
}
.main__text h1{
    font-weight: bold;
    font-size: 58px;
    line-height: 76px;
}
.main__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 37px;
    padding-top: 16px;
}
.btn{
    position: absolute;
    width: 309px;
    background-color: #FFB423;
    font-weight: bold;
    font-size: 30px;
    line-height: 90px;
    margin-top: 50px ;
    border: none;
    cursor: pointer;
}
.why_me__wrapper{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
}
.why_me{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px; 

}
.why_me__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 351px;
	width: 25vw; 
	position: relative;
    margin-bottom: 47px;
    border: 2px solid #CFCFCF;
    text-align: center;
}
.why_me__item img  {
    align-self: center;
}
.item__p__title{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    padding-top: 34px;
}
.item__p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #989898;
}
.title{
    width: 32vw;
    background:white;
    z-index: 1;
    margin-top: -121px;
    height: 10em;
    position: relative
}
.title h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 76px;
 }
 .progress__wrapper{
    padding-top: 40px; 
    height: 800px;
  
    padding-left: 10%;

    background: url('https://kabanecroman.github.io/invest.github.io/img/bg2.png') no-repeat center;

    background-size: cover; 
    background-attachment: fixed;   
}
.rectangle{
    display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    /* width: 896px; 
    size ???*/
    width: 70vw; 
    height: 35px;
    background-color: #fff;
    /* margin-top: 393px;*/
    margin-top: 40vh;
    margin-left: 20px;
}
.circle{
    height: 96px;
    align-self: center;
    margin: -20px;
}
.circle__p__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #fff;
}
.circle__p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #E5E5E5;
    padding-top: 47px;
}
.slider{
    padding-top: 40px; 
    padding-left: 10%;
    padding-right: 10%;
  
}
.slider__item{
    display: flex;
    flex-direction:row;
    width: 79.1vw; 
    height: 263px;
    border: 3px solid #CFCFCF;
    margin-bottom: 40px;
   
}
.line{
    padding: 0 15px;
    align-self:center;
    height: 181px;
    border-right: 5px solid #3B4EC8;
}
.name__span{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    color: #000000;
}
.item{
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #787878;
    padding: 15px 106px 15px 30px ;
}
.form__wrapper{
    padding-top: 40px; 
    padding-left: 10%;
    padding-right: 10%;
    height: 800px;
    padding-left: 10%;

    background: url('https://kabanecroman.github.io/invest.github.io/img/bg3.png') no-repeat center;
    background-size: cover; 
    background-attachment: fixed; 
}
.form__wrapper h2 {
    padding-top: 119px;
    padding-bottom: 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 76px;
    color:#fff ;
}
.form__wrapper p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #fff;
}
.footer{
    width: 100%;
    height: 110px;
    background-color: #0e0f38;
    border-top: 3px solid white; 

}
.copyright{
    position: absolute;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 90px;
    color: #fff;

}


  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
@media only screen and (min-width : 320px) and (max-width : 768px) {

    .header{
        height: 115px; 
    }
    .logo{
        width: 100px;
        height: 53px;
        padding-left: 10px;
    }
    .contact{
        padding: 8%;
        font-style: normal;
        font-size: 15px;
        line-height: 28px;
    }
    /*  */
    .main__text{
      padding: 32px 55px 0 10px;
    }
    .main__text h1{
        font-size: 35px;
        line-height: 42px;
    }
    .main__text p {
        font-size: 20px;
        line-height: 28px;
        padding-top: 16px;
    }
    .btn{
        width: 226px;
        height: 64px;
        font-size: 20px;
        line-height: 1px;
        margin-top: 50px ;
    }
    .main{
        width: 100%;
        height: 550px;
        margin-bottom: 0;
       
    }
    .title{
        margin-top: 0px;
        margin-left: 10px;
        width: 210px;
        height: 90px;
    }
    .title h2 {
        font-size: 35px;
        line-height: 76px;
     }
     .why_me__wrapper{
         padding: 0;
     }
    .item__p__title{
        padding-bottom: 37px;
    }
    /* .progress__wrapper{
        margin: 0;
        padding: 0;
    } */

    .why_me{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .why_me__item{
        width: 90%;
       
    }
    .why_me .title h2{
        top: 0;
    }
    .progress__wrapper{
        /* margin: 0; */
        padding: 0;
    }
    .progress__wrapper .title{
        background: none;
        color: white;
        margin: 0;
    }
   .progress__wrapper{
       height: 1100px;
   }
    .rectangle{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin-top: 0;
        height: 850px;
        width: 24.42px;
        margin-left: 15%;
    }
    .circle {
        display: flex;
        align-self: flex-start;
        margin-left: -150%;
        margin-top: -10%;
    }
    .circle__p__title{
        font-size: 25px;
        margin-top: 11%;
        margin-left: 20px;
    }
    .circle__p{
        width: 230px;
        margin-left: 20px;
    }
   .wrap__mob{
    display: flex;
    flex-direction: column;

   } 
   .reviews__wrapper{
    padding: 0;
   }
    .reviews__wrapper h2{
        left: 33%;
    }
    .line{
        display: none;
    }
    .reviews__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        width: 90%; 
        height: 100%;
    }
    .item{
    padding: 25px;
    }
    .name__span{
        display: none;
    }
    .copyright{
        padding-top: 10px;
        font-size: 20px;
    }
    .form__wrapper {
        padding: 0 0 0 10px;
    }

    .form__wrapper h2{
        font-size: 35px;
        line-height: 76px;
        padding: 0;
        width: 350px;
    }
    .footer{
        height: 130px;
    }


    .slider {
        position: relative;
        overflow: hidden;
      }
    
      .slider__wrapper {
        display: flex;
        transition: transform 0.6s ease;
      }
    
      .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 3px solid #CFCFCF; */
        outline: 3px solid #CFCFCF;
        /* outline-offset:  */
      }

      .slider__control {
        position: absolute;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        color: #fff;
        text-align: center;
        opacity: 0.5;
        height: 50px;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, .5);
      }
    
        .slider__control:hover,
        .slider__control:focus {
            color: #fff;
            text-decoration: none;
            outline: 0;
            opacity: .9;
        }

        .slider__control_left {
            left: 0;
        }

        .slider__control_right {
            right: 0;
        }

        .slider__control::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background: transparent no-repeat center center;
            background-size: 100% 100%;
        }



}
